.popup {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 20px;
    position: fixed;
    max-width: 600px;
    max-height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: azure;
}

.popup h2 {
    margin-top: 40px;
}

#admin-password-input {
    display: block;
    margin: 0px auto;
    font-size: 1.5em;
    border-radius: 10px;
}

.admin-password-ok-btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 20px;
    margin: 20px auto 0px auto;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: beige;
    cursor: pointer;
}

#admin-password-ok-icon {
    margin-right: 10px;
}

.admin-password-ok-btn:hover {
    background-color: #007B9A;
}
