.modify-customer-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.customer-data-container {
  background-color: #f9f9f9;
  padding: 50px 20px 20px 0px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-data-form-group {
  margin-bottom: 20px;
}

.customer-data-form-group label {
  display: inline-block;
  padding-left: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
  text-align: right;
  margin-right: 10px;
  font-size: 22px;
  width: 200px;
}

.customer-data-form-group input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 22px;
}

.modify-customer-buttons {
  margin-top: 30px;
}

.modify-customer-btns-grp button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  margin: 0px 20px 0px 20px;
  transition: background-color 0.3s ease;
  
}

.modify-customer-ok-btn {
  background-color: #4CAF50;
  color: white;
}

.modify-customer-ok-btn:hover {
  background-color: #45a049;
}

.modify-customer-delete-btn {
  background-color: #f44336;
  color: white;
}

.modify-customer-delete-btn:hover {
  background-color: #da190b;
}

.modify-customer-cancel-btn {
  background-color: #ff9800;
  color: white;
}

.modify-customer-cancel-btn:hover {
  background-color: #e68a00;
}

.modify-customer-send-btn {
  background-color: #4CAF50;
  color: white;
  font-weight: 700;
}

.modify-customer-send-btn:hover {
  background-color: #45a049;
}