.user-page {
  text-align: center;
  padding: 20px;
}

.container {
  display: inline-block;
  gap: 20px;
  /* justify-items: center;
  align-items: center; */
  /* max-width: 800px; */
  margin: 0 auto;
  border: black;
  border-width: 20px;
}

.search-item {
  margin: 10px;

}

.table {
  display: grid;
  
}