.view-user-page {
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.user-search-container {
  display: flex;
  margin-bottom: 20px;
}

.user-search-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 25px;
}

#user-search-icon {
  margin-right: 10px;
}

.user-search-button {
  display: flex;
  align-items: center;
  justify-items: baseline;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

.user-search-button:hover {
  background-color: #45a049;
}

.user-table-container {
  overflow-x: auto;
}

#user-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#user-data-table th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

#user-data-table th {
  background-color: #c4c2c2;
  font-weight: bold;
  font-size: 18px;
}

#user-data-table tbody {
  font-size: 16px;
}

.view-user-data-row {
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-user-data-row:hover {
  background-color: #afe6ff;
}

.user-return-btns-grp {
  display: flex;
  justify-content: center;
}

.view-user-home-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 20px;
  margin: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#view-user-home-icon {
  margin-right: 10px;
}

.view-user-home-button:hover {
  background-color: #007B9A;
}

.view-user-back-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 20px;
  margin: 10px;
  background-color: #8a8137;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#view-user-back-icon {
  margin-right: 10px;
}

.view-user-back-button:hover {
  background-color: #5e5725;
}
